main {
  width: 800px;
  margin: 200px auto 72px auto;
  background-color: skyblue;
  padding: 24px;
  border: 3px solid black;
  border-radius: 8px;
  box-shadow: 3px 3px 3px gray;
}
h1 {
  font-family: "Ubuntu", "sans-serif";
}
p {
  font-family: "Ubuntu", "sans-serif";
}
pre {
  font-family: "Ubuntu", "sans-serif";
}
img {
  width: 300px;
  height: 300px;
  border-radius: 150px;
  border: 5px solid black;
  margin-top: -180px;
}

a {
  text-decoration: none;
  color: brown;
}
a:hover {
  text-decoration: underline;
  color: blue;
}
span {
  color: brown;
}
